.embed-responsive {
    border: 1px solid #dddddd;
    border-bottom: none;
    border-radius: 4px 4px 0 0;
}

.film-info__well {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-color: #dddddd;
    background-color: #f1f1f1;
}
.film-info {
    font-size: 1.2em;
}
.film-info__wrapper {
    white-space: nowrap;
}
.film-info__wrapper:not(:last-of-type) {
    margin-right: 15px;
}
.film-info__badge {
    font-size: 0.8em;
}