.left-sidebar {
    @extend %margin-bottom-lg;
}

.vertical-slider {
    border-radius: 4px;
    overflow: hidden;
    
    img {
        width: 100%;
    }
}

.site-news {
    &-item {
        clear: both;
        position: relative;
        
        &:not(:last-child) {
            min-height: 85px;
            margin-bottom: $gap;
        

            &::after {
                position: absolute;
                width: calc(100% - 85px);
                height: 1px;
                background-color: $color-gray;
                right: 0;
                bottom: -5px;
                content: "";
            }
        }

        &__image {
            float: left;
            width: 75px;
            margin: 0 10px 10px 0;
            transition: background-color 0.5s;
        }
        &__title {
            a {
                @include block-shortener(1rem, 1.5, 50px, 2);
                transition: color 0.15s;
            }
            margin-bottom: 10px;
            
        }
        &__date {
            text-align: right;
            font-size: 0.8rem;
            color: darken($color-gray, 30%);
        }

        &:hover {
            .site-news-item__title a {
                color: $color-accent;
            }
            .site-news-item__image {
                background-color: $color-accent;
                border-color: $color-accent;
            }
        }
    }
    
}