.header-logo__title, .header-logo__description {
  text-shadow: 0 0 5px black, 0 0 20px black;
}

.header, .main, .left-sidebar {
  margin-bottom: 79.99999px;
}

.navbar-inverse {
  background-color: #191919;
  border-color: #080808;
  margin-bottom: 0;
}

.navbar-inverse .navbar-nav .active > a {
  background-color: #053159;
}

.navbar-inverse .navbar-nav .active > a:focus, .navbar-inverse .navbar-nav .active > a:hover {
  background-color: #517ba2;
}

.navbar-inverse .navbar-nav li > a:focus, .navbar-inverse .navbar-nav li > a:hover {
  background-color: #165690;
}

.navbar-header {
  text-align: center;
}

.navbar-toggle {
  float: none;
  margin-right: 0px;
}

.panel {
  border: none;
  background-color: #f1f1f1;
  margin-bottom: 30px;
}

.panel-info > .panel-heading {
  color: #ffffff;
  background-color: #df8a13;
  border: none;
}

.panel-title {
  font-size: 1.2rem;
  letter-spacing: 0.1em;
}

.panel-body {
  border: 1px solid #dddddd;
  border-radius: 0 0 4px 4px;
}

.input-group-lg > .form-control {
  font-size: 14px;
}

.input-lg {
  font-size: 14px;
}

html {
  font-size: 16px;
}

body {
  font-size: 1rem;
  font-family: "PT Sans", sans-serif;
  overflow-y: scroll;
}

a {
  color: #165690;
  -webkit-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
  transition: background-color 0.5s;
}

a:hover, a:focus {
  text-decoration: none;
  color: #df8a13;
}

h1 {
  margin: -7.5px 0 45px;
  font-family: "PT Serif", serif;
  position: relative;
}

h1::after {
  position: absolute;
  width: 100%;
  margin: 0.85em 0 0 15px;
  content: "";
  border-bottom: 3px solid rgba(223, 138, 19, 0.7);
}

section {
  overflow: hidden;
}

h2 {
  margin: 60px 0 45px 45px;
  font-family: "PT Serif", serif;
  position: relative;
}

h2::before {
  position: absolute;
  left: -50px;
  width: 35px;
  margin: 0.25em 0 0 0;
  content: "";
  border-bottom: 3px solid rgba(240, 173, 79, 0.7);
}

h2::after {
  position: absolute;
  width: 100%;
  margin: 0.85em 0 0 15px;
  content: "";
  border-bottom: 3px solid rgba(223, 138, 19, 0.7);
}

strong {
  font-weight: 700;
}

.header-logo {
  padding: 100px 0;
  text-align: center;
  background-color: #232323;
  background-image: url(../img/header-bg.jpg);
  background-position: 50% 50%;
  background-size: cover;
}

.header-logo__title {
  display: block;
  font-family: "PT Serif", serif;
  color: #df8a13;
}

.header-logo__description {
  display: block;
  font-size: 1.15rem;
  letter-spacing: 0.2em;
  color: #ffffff;
}

.main .site-search {
  margin-bottom: 45px;
  margin-top: -15px;
}

.main .user-login {
  margin-bottom: 60px;
}

.new-films-row {
  margin-left: -7.5px;
  margin-right: -7.5px;
}

.new-films-item {
  padding-left: 7.5px;
  padding-right: 7.5px;
  margin-bottom: 15px;
}

.new-films-item__thumbnail {
  margin-bottom: 0px;
  -webkit-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.new-films-item__thumbnail:hover {
  background-color: #df8a13;
  border: 1px solid #df8a13;
}

.new-films-item__link:hover h3 {
  color: #ffffff;
}

.new-films-item__title {
  display: block;
  overflow: hidden;
  margin: 0;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  font-size: 1rem;
  font-weight: bold;
}

.new-films-item__caption {
  text-align: center;
}

.new-films-item__image {
  width: 100%;
}

.film-news-item:hover .thumbnail {
  background-color: #df8a13;
}

.film-news-item:hover .btn-warning {
  color: #ffffff;
  background-color: #df8a13;
}

.film-news-item:hover a {
  color: #df8a13;
}

.film-news-item__text {
  text-align: justify;
}

.film-news-item__button {
  float: right;
  margin-bottom: 30px;
  -webkit-transition: background-color 0.25s;
  -o-transition: background-color 0.25s;
  transition: background-color 0.25s;
}

.film-news-item__thumbnail {
  -webkit-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
  transition: background-color 0.5s;
  margin-bottom: 0px;
}

.film-news-item__link {
  -webkit-transition: color 0.5s;
  -o-transition: color 0.5s;
  transition: color 0.5s;
}

.embed-responsive {
  border: 1px solid #dddddd;
  border-bottom: none;
  border-radius: 4px 4px 0 0;
}

.film-info__well {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-color: #dddddd;
  background-color: #f1f1f1;
}

.film-info {
  font-size: 1.2em;
}

.film-info__wrapper {
  white-space: nowrap;
}

.film-info__wrapper:not(:last-of-type) {
  margin-right: 15px;
}

.film-info__badge {
  font-size: 0.8em;
}

.vertical-slider {
  border-radius: 4px;
  overflow: hidden;
}

.vertical-slider img {
  width: 100%;
}

.site-news-item {
  clear: both;
  position: relative;
}

.site-news-item:not(:last-child) {
  min-height: 85px;
  margin-bottom: 15px;
}

.site-news-item:not(:last-child)::after {
  position: absolute;
  width: calc(100% - 85px);
  height: 1px;
  background-color: #dddddd;
  right: 0;
  bottom: -5px;
  content: "";
}

.site-news-item__image {
  float: left;
  width: 75px;
  margin: 0 10px 10px 0;
  -webkit-transition: background-color 0.5s;
  -o-transition: background-color 0.5s;
  transition: background-color 0.5s;
}

.site-news-item__title {
  margin-bottom: 10px;
}

.site-news-item__title a {
  display: -webkit-box;
  overflow: hidden;
  height: 50px;
  font-size: 1rem;
  line-height: 1.5rem;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  -webkit-transition: color 0.15s;
  -o-transition: color 0.15s;
  transition: color 0.15s;
}

.site-news-item__date {
  text-align: right;
  font-size: 0.8rem;
  color: #909090;
}

.site-news-item:hover .site-news-item__title a {
  color: #df8a13;
}

.site-news-item:hover .site-news-item__image {
  background-color: #df8a13;
  border-color: #df8a13;
}

.top-films-body {
  padding-left: 0px;
  padding-right: 0px;
}

.top-films-list {
  margin-bottom: 0px;
}

.top-films-list a {
  color: #165690;
}

.top-films-list__link {
  background-color: transparent;
  border-left: none;
  border-right: none;
  border-bottom: none;
  border-top: 1px solid #dddddd;
  -webkit-transition: background-color 0s;
  -o-transition: background-color 0s;
  transition: background-color 0s;
  margin-left: -1px;
  margin-right: -1px;
  padding: 10px 50px 10px 15px;
}

.top-films-list__link:first-child {
  border-radius: 0px;
  border-top: none;
}

.top-films-list__link:last-child {
  border-radius: 0px;
}

.top-films-list__link:hover, .top-films-list__link:focus {
  background-color: #df8a13 !important;
  -webkit-transition: background-color 0s;
  -o-transition: background-color 0s;
  transition: background-color 0s;
  color: #ffffff !important;
}

.top-films-list__link:hover .badge, .top-films-list__link:focus .badge {
  background-color: #232323;
}

.top-films-list__badge {
  position: absolute;
  right: 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.footer {
  padding-top: 45px;
  color: #fbfbfb;
  background-color: #232323;
}

.footer ul {
  list-style: none;
  padding: 0px;
}

.footer a {
  color: #777777;
}

.footer a:hover {
  color: #ffffff;
}

.footer-fifth {
  margin: 20px 0;
  text-align: center;
}

.footer-fifth a {
  color: #ffffff;
}

@media (min-width: 576px) {
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  .header-logo__title {
    font-size: 3.5rem;
    letter-spacing: 0.33em;
    margin-right: -15px;
  }
}

@media (min-width: 768px) {
  .navbar-inverse .navbar-nav li > a {
    border-radius: 4px;
  }
  .navbar-left li {
    margin: 5px 5px 5px 0;
  }
  .navbar-right li {
    margin: 5px 0px 5px 5px;
  }
}

@media (max-width: 767.8px) {
  .navbar-inverse .navbar-nav li > a {
    text-align: center;
  }
  .navbar-left {
    margin-bottom: 0;
  }
  .navbar-right {
    margin-top: 0;
  }
}

@media (max-width: 575.8px) {
  h1 {
    font-size: 2rem;
  }
  .header-logo__title {
    font-size: 2.5rem;
    letter-spacing: 0.2em;
    margin-right: -7.5px;
  }
}
